---
TabWidth: 2
Standard: Auto
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpacesInContainerLiterals: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 2
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: true
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: false
SpaceAfterLogicalNot: false
SpaceAfterCStyleCast: false
SortUsingDeclarations: true
SortIncludes: false
ReflowComments: false
PointerAlignment: Right
NamespaceIndentation: All
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: true
IndentWrappedFunctionNames: true
IndentWidth: 2
IndentPPDirectives: BeforeHash
IndentGotoLabels: true
IndentCaseLabels: true
FixNamespaceComments: true
DisableFormat: false
DerivePointerAlignment: true
Cpp11BracedListStyle: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
CompactNamespaces: false
ColumnLimit: 80
BreakStringLiterals: false
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakAfterJavaFieldAnnotations: true
BinPackParameters: true
BinPackArguments: true
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakAfterReturnType: None
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllArgumentsOnNextLine: true
AlignTrailingComments: true
AlignOperands: true
AlignEscapedNewlines: Left
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignAfterOpenBracket: DontAlign